.education-background {
  display: flex;
}

.timeline2-background {
  width: 50%;
}

.timeline2-item {
  display: flex;
  width: 50%;
  height: 120px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.timeline2-item:hover {
  -webkit-transform: scale(2);
  transform: scale(1.2);
  background-color: lightsalmon;
}

.timeline2-ball {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: crimson;
}

.education-info {
  padding: 24px;
  font-size: 10pt;
}

.education-info h4,
p {
  margin: 0;
}

.highlight2-background {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100%);
  background: crimson;
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  justify-content: center;
  align-items: center;
  margin: 32px;
}

.highlight2-background h1,
h4,
p {
  margin: 8px;
}
